/*<meta />*/

/* Search */
/* Fix for safari/ios */

input[type="search"]
{
	-webkit-appearance: none;
}

.search,
.search-bar
{
	width: 100%;
	position: relative;
	color: #DADADA;
	margin: 0 auto;
}

.search-bar .search-field
{
	text-align: left;
	width: 100%;
	height: 2em;
	padding-left: 10px;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: none;
	border-radius: 25px;
	font: inherit;
	background: #FFFFFF;
	color: #5F5F5F;
	position: relative;
}

.search-bar .search-field::-webkit-search-cancel-button
{
	display: none;
}

.search-bar .search-filter
{
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #5F5F5F;
	line-height: 2em;
	padding-right: 5px;
	cursor: pointer;
	height: 2em;
	width: 45px;
	background: #ffffff url('../Images/FilterOutline.png') no-repeat center center;
}

.search-bar .search-filter.selected
{
	background-image: url('../Images/Filter.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.search-bar .search-filter.open
{
	background-repeat: no-repeat;
	background-position: center center;
}

.search-bar .search-filter-wrapper
{
	display: none;
	position: absolute;
	top: 0;
	right: 56px;
}

.search-filter-content
{
	display: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	position: absolute;
	right: 0;
	top: 2em;
	line-height: normal;
	text-align: left;
	overflow: auto;
	z-index: 1;
	color: #888888;
	background-color: #ffffff;
	white-space: nowrap;
}

.search-filter-content ul
{
	list-style: none;
	margin: 0;
	padding: 6px;
}

.search-filter-content ul li
{
	padding: 5px;
	margin: 0;
}

.search-filter-content ul li:hover
{
	color: #000000;
	background-color: #ffffff;
}

.search-bar .search-submit-wrapper
{
	position: absolute;
	top: 0;
	right: 0;
	tooltip: Search;
}

.search-bar .search-submit
{
	width: 56px;
	height: 2em;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #bed230 url('../Images/SearchIcon.png') no-repeat center center;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Menu Styles */

ul.menu.mc-component
{
	overflow-y: auto;
}

ul.menu a
{
	text-decoration: none;
	outline: none;
	color: #000;
}

ul.menu,
ul.menu ul,
ul.menu li
{
	list-style: none;
	display: list-item;
	margin: 0;
}

ul.menu,
ul.menu ul,
ul.menu li
{
	padding: 0;
}

ul.menu li > a
{
	display: block;
}

ul.menu li > a.selected
{
	font-weight: bold;
}

/* Search Results Styles */

#results-heading
{
	margin-bottom: 20px;
}

#resultList
{
	padding-left: 0;
	margin: 0;
}

#resultList h3.title a
{
	text-decoration: none;
	font-weight: normal;
}

#resultList h3.title
{
	margin-bottom: 2px;
	line-height: 1.1em;
}

#resultList li
{
	list-style: none;
	margin-bottom: 16px;
}

#resultList .glossary
{
	padding: 15px;
	margin-bottom: 25px;
	-webkit-box-shadow: 0px 1px 4px 0px #cccccc;
	-moz-box-shadow: 0px 1px 4px 0px #cccccc;
	box-shadow: 0px 1px 4px 0px #cccccc;
	line-height: normal;
}

#resultList .glossary .term
{
	margin-bottom: 10px;
	font-size: 1.5em;
}

#communityResultList
{
	margin: 0;
	padding: 0 0 0 20px;
	list-style-image: none;
	list-style-type: none;
	font-size: 0.9em;
}

#communityResultList li
{
	margin: 10px 0px;
}

#communityResultList a
{
	text-decoration: none;
}

._Skins_SearchResults.mc-component #resultList .glossary .term a:visited
{
	color: #024467;
}

._Skins_SearchResults.mc-component #resultList h3.title a:visited
{
	color: #2200c1;
	text-decoration: underline;
}

._Skins_SearchResults.mc-component #resultList .glossary .term a:focus
{
	
}

._Skins_SearchResults.mc-component #resultList h3.title a:focus
{
	color: #317598;
	text-decoration: underline;
}

#communityResultList a:hover
{
	text-decoration: underline;
}

#pagination a:hover
{
	border-top: solid 1px #e2e2e6;
}

ul.menu._Skins_SideMenu.mc-component li > a:hover
{
	color: #ffffff;
	background-color: #7babf8;
}

ul.menu._Skins_SideMenu.mc-component ul > li > a:hover
{
	background-color: #7babf8;
}

ul.menu._Skins_SideMenu.mc-component ul ul > li > a:hover
{
	background-color: #7babf8;
}

ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a:hover
{
	background-color: #7babf8;
}

ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a:hover
{
	background-color: #7babf8;
}

ul.menu._Skins_ContextMenu.mc-component li > a:hover
{
	color: #ffffff;
	background-color: #20aa97;
}

ul.menu._Skins_ContextMenu.mc-component ul > li > a:hover
{
	background-color: #20aa97;
}

ul.menu._Skins_ContextMenu.mc-component ul ul > li > a:hover
{
	background-color: #20aa97;
}

ul.menu._Skins_ContextMenu.mc-component ul ul ul > li > a:hover
{
	background-color: #20aa97;
}

ul.menu._Skins_ContextMenu.mc-component ul ul ul ul > li > a:hover
{
	background-color: #20aa97;
}

._Skins_SearchResults.mc-component #resultList .glossary .term a:hover
{
	
}

._Skins_SearchResults.mc-component #pagination a:hover
{
	color: #7babf8;
	border-top: solid 1px #e2e2e6;
}

._Skins_SearchResults.mc-component #resultList h3.title a:hover
{
	color: #7babf8;
	text-decoration: underline;
}

._Skins_SearchResults.mc-component #resultList .glossary .term a:active
{
	
}

._Skins_SearchResults.mc-component #resultList h3.title a:active
{
	color: #3f6075;
	text-decoration: underline;
}

#resultList.communitySearch .title
{
	display: none;
}

#resultList.communitySearch #communityResultList
{
	padding: 0px;
}

.phrase-suggest
{
	display: block;
}

.search-result-highlight
{
	font-weight: bold;
}

.activityInfo
{
	color: #666;
}

.activityInfo a:link,
.activityInfo a:visited
{
	color: #666;
}

a.activityText:link,
a.activityText:visited
{
	color: #000;
}

.activityTime
{
	font-style: italic;
	font-size: 11px;
	color: #999;
	margin-left: 3px;
}

#pagination
{
	height: 2.5em;
	line-height: 2.5em;
}

#pagination a
{
	min-width: 34px;
	cursor: pointer;
	border: solid 1px #fafafc;
	color: #0185D1;
	font-size: 1em;
	margin: 20px 5px;
	padding: 2px 8px;
	text-decoration: none;
}

#pagination a#selected
{
	font-weight: bold;
	border-top: solid 1px #e2e2e6;
}

ul.menu._Skins_SideMenu.mc-component
{
	color: #317598;
	font-family: Roboto;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	line-height: 1em;
	border-top: none 0px #444444;
	border-right: none 0px #444444;
	border-bottom: none 5px #444444;
	border-left: none 5px #444444;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	display: block;
	width: 90%;
	height: auto;
	max-height: 100%;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#fafafa));
	background: -webkit-linear-gradient(top, #fafafa 0%, #fafafa 100%);
	background: -o-linear-gradient(top, #fafafa 0%,#fafafa 100%);
	background: -ms-linear-gradient(top, #fafafa 0%,#fafafa 100%);
	background: linear-gradient(top, #fafafa 0%,#fafafa 100%);
	-pie-background: linear-gradient(#fafafa, #fafafa);
}

ul.menu._Skins_SideMenu.mc-component a
{
	color: #317598;
	font-family: Roboto;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

ul.menu._Skins_SideMenu.mc-component li > a
{
	color: #024467;
	font-family: Roboto;
	font-weight: normal;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: transparent;
}

ul.menu._Skins_SideMenu.mc-component ul > li > a
{
	margin-left: 1.5em;
	margin-right: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: transparent;
}

ul.menu._Skins_SideMenu.mc-component ul ul > li > a
{
	margin-left: 2.5em;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: transparent;
}

ul.menu._Skins_SideMenu.mc-component ul ul ul > li > a
{
	padding-left: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: transparent;
}

ul.menu._Skins_SideMenu.mc-component ul ul ul ul > li > a
{
	padding-left: 80px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: transparent;
}

ul.menu._Skins_SideMenu.mc-component li > a.selected
{
	color: #024467;
	font-weight: bold;
	background-color: transparent;
}

ul.menu._Skins_SideMenu.mc-component li > a.selected:hover
{
	color: #024467;
	font-weight: bold;
	background-color: #7babf8;
}

ul.menu._Skins_ContextMenu.mc-component li > a.selected:hover
{
	font-weight: bold;
	background-color: #20aa97;
}

ul.menu._Skins_ContextMenu.mc-component
{
	color: #444444;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	line-height: 1.5em;
	border-top: double 5px #444444;
	border-right: double 5px #444444;
	border-bottom: double 5px #444444;
	border-left: double 5px #444444;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0em;
	margin-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	height: auto;
	max-height: 100%;
	background-color: #fafafa;
}

ul.menu._Skins_ContextMenu.mc-component a
{
	color: #444444;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
}

ul.menu._Skins_ContextMenu.mc-component li > a
{
	font-size: 0.9em;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	background-color: transparent;
}

ul.menu._Skins_ContextMenu.mc-component ul > li > a
{
	margin-left: 1.5em;
	padding-left: 20px;
	background-color: transparent;
}

ul.menu._Skins_ContextMenu.mc-component ul ul > li > a
{
	margin-left: 2.5em;
	padding-left: 40px;
	background-color: transparent;
}

ul.menu._Skins_ContextMenu.mc-component ul ul ul > li > a
{
	padding-left: 60px;
	background-color: transparent;
}

ul.menu._Skins_ContextMenu.mc-component ul ul ul ul > li > a
{
	padding-left: 80px;
	background-color: transparent;
}

ul.menu._Skins_ContextMenu.mc-component li > a.selected
{
	font-weight: bold;
	background-color: transparent;
}

._Skins_SearchResults.mc-component #resultList .glossary .definition
{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

._Skins_SearchResults.mc-component #resultList .glossary
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-position: center center;
}

._Skins_SearchResults.mc-component #resultList .glossary .term
{
	font-size: 1.5em;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 0%;
	margin-bottom: 2%;
}

._Skins_SearchResults.mc-component #resultList .glossary .term a
{
	
}

._Skins_SearchResults.mc-component h1#results-heading
{
	color: #024467;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
}

._Skins_SearchResults.mc-component #results-heading
{
	border-bottom: solid 1px #ebebeb;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 0em;
	padding-right: 0em;
	padding-top: 2em;
	padding-bottom: 2em;
}

._Skins_SearchResults.mc-component #pagination
{
	text-indent: 3em;
	height: 6em;
	line-height: ;
}

._Skins_SearchResults.mc-component #pagination a
{
	border-top: solid 1px #fafafc;
	color: #317598;
	font-size: 1em;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-decoration: none;
}

._Skins_SearchResults.mc-component #pagination a#selected
{
	font-weight: bold;
	border-top: solid 1px #e2e2e6;
}

._Skins_SearchResults.mc-component #resultList .description
{
	font-size: 1.2em;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
}

._Skins_SearchResults.mc-component #resultList h3.title a
{
	color: #024467;
	font-size: 1.2em;
}

._Skins_SearchResults.mc-component #resultList h3.title
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 3%;
	margin-bottom: 0%;
	text-decoration: underline;
}

._Skins_SearchResults.mc-component #resultList .url cite
{
	color: #003644;
	font-size: 0.9em;
	font-style: normal;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0em;
	margin-bottom: 0%;
	padding-top: 0px;
}

._Skins_SearchResults.mc-component #resultList
{
	line-height: 1em;
	text-align: left;
	display: block;
}

._Skins_SearchResults.mc-component .phrase-suggest
{
	font-style: italic;
}

._Skins_SearchResults.mc-component .phrase-suggest a
{
	color: #003644;
}

